APP_URL="MY_APP_URL"

# PRISMA DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/uniqualis?schema=public"

# CLOUDINARY CONFIGURATION
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# GEMINI AI
GEMINI_API_KEY=""

# RESEND (Transactional Emails)
RESEND_API_KEY=""
